.footer-container {
  box-sizing: border-box;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(85, 85, 85);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  padding: 30px 2.5vw 10px;
}
.img {
  height: 130px;
  width: 150px;
  margin-right: 10px;
}
.inner-cont{
  margin: 50px;
  display: flex;

}

.cat-foot {
  height: 132px;
  width: 413px;
  display: flex;
  flex-flow: column wrap;
}

.cat,
.about,
.resource,
.find {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(187, 187, 187)
  
}
.category-1{
  color: rgb(187, 187, 187)
}

.fa-microchip,
.fa-wrench,
.fa-cut,
.fa-utensils,
.fa-home,
.fa-bicycle,
.fa-home {
  color: rgb(187, 187, 187)
}

.category-2{
  color: rgb(187, 187, 187)
}

.category-3 {

  color: rgb(187, 187, 187)
}
.category-4 {

  color: rgb(187, 187, 187)
}

.category-5 {

  color: rgb(187, 187, 187)
}

.category-6 {

  color: rgb(187, 187, 187)
}

.about-us{
  display: flex;
  flex-direction: column;
  color: rgb(187, 187, 187)
}

.who,
.why,
.jobs {
  color: rgb(187, 187, 187)
}

.resources{
  display: flex;
  flex-direction: column;
  color: rgb(187, 187, 187)
}

.map,
.help1,
.contact {
  color: rgb(187, 187, 187)
}


.find-us {
  display: grid;
  grid-template-areas: 
  'find find find find'
  'insta face twitter pin';
  color: rgb(187, 187, 187)
}

.find{
  grid-area: find;
  color: rgb(187, 187, 187)
}

.insta{
  grid-area: insta;
  color: rgb(187, 187, 187);
  margin: 10px;
}

.face {
  grid-area: face;
  color: rgb(187, 187, 187);
  margin: 10px;
}

.twitter {
  grid-area: twitter;
  color: rgb(187, 187, 187);
  margin: 10px;
}

.pinterest {
  grid-area: pin;
  color: rgb(187, 187, 187);
  margin: 10px;
}

.fa-instagram-square,
.fa-facebook-square,
.fa-pinterest-square,
.fa-twitter-square {
  font-size: 40px;
}