/* TODO Add site wide styles */
:root {
  --bg: #fff;
  --bg-secondary: #f6f6f6;
  --text-color-1: #333;
  --text-color-2: #555;
  --font-size: 14px;
  --border-radius: 4px;
  --speed: 500ms;
  --border: 1px solid rgba(0, 0, 0, 0.2);
  --nav-size: 48px;
}

body {
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
