.new-btn {
  width: fit-content;
  height: fit-content;
  border-radius: var(--border-radius);
  background: #faac18;
  border: 1px solid rgba(0, 0, 0, 0.3);
  line-height: 16px;
  /* height: 44px;
  width: 360px; */
  text-align: center;
  margin: 11px auto;
}

.new-btn a {
  font-size: 17.5px;
  color: white;
  padding: 13px 20px 13px 20px;
}

.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.how-text {
  width: 70%;
  justify-content: space-around;
}

.create div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create p {
  text-align: center;
}

.avatar img {
  flex-direction: row;
  padding-bottom: 10px;
}

.top {
  background: center url("../../images/9.jpg");
  width: 100%;
  color: white;
  display: block;
  height: 900px;
  text-align: center;
}

.top p {
  padding-bottom: 20px;
}

.top h1 {
  padding-top: 20px;
}

.top h2 {
  padding-top: 20px;
}

.video {
  height: 400px;
}

.share p {
  padding-bottom: 60px;
  width: 720px;
}

.join p {
  width: 800px;
  padding-bottom: 60px;
}

.press p {
  width: 720px;
}

.contest p {
  width: 720px;
}

.how-to p {
  width: 720px;
}

.press a {
  color: #faac18;
  padding-bottom: 60px;
}

.video-link {
  color: #faac18;
}

.contest a {
  color: #faac18;
  padding-bottom: 60px;
}

.how-to a {
  color: #faac18;
  padding-bottom: 60px;
}
