.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 360px 10px 360px;

  /* padding-left: 300px;
  padding-right: 300px; */
}

.step {
  margin-top: 50px;
}

.step-title {
  font-size: 24px;
  margin: 32px, 0, 15px;
  line-height: 20px;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
  text-decoration: none solid rgb(51, 51, 51);
}

.step-imgs {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.step-text {
 color: #555555;
 font-family: myriad-pro, helvetica, arial, sans-serif;
 font-size: 20px;
 line-height: 36px;
 margin-top: 25px;
}

.step-toolbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px;
}

.tooltip {
  margin: 0px 15px;
  color: #BBBBBB;
}

.tooltip-text {
  font-size: 16px;
  font-weight: 100;
}

.i:hover {
  color: blue;
  cursor: pointer;
}

.fa-lightbulb-o:hover {
  color: #fcba03;
  cursor: pointer;
}


.fa-question-circle:hover {
  color: #4287f5;
  cursor: pointer;
}

.fa-comments:hover {
  color: #8cb52d;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
