.one-image {
  display: flex;
  justify-content: center;
}

.two-images {
  display: flex;
  flex-direction: row;
}

.three-images {
  display: flex;
}

.side-images {
  display: flex;
  flex-direction: column;
}

.img-one-one {
  height: 60hv;
}

.img-two-one, .img-two-two {
  border-radius: 5px;
  margin: 2px 5px;
}

.img-three-one {
  margin: 5px;
  border-radius: 5px;
}

.img-three-two {
  margin: 5px;
  border-radius: 5px;
}

.img-three-three {
  margin: 5px;
  border-radius: 5px;
}

.img-one-one {
  margin: 5px;
  border-radius: 5px;
}
