.one-image {
  display: flex;
  justify-content: center;
}

.two-images {
  display: flex;
  flex-direction: row;
}

.three-images {
  display: flex;
}

.side-images {
  display: flex;
  flex-direction: column;
}

.img-one-one {
  height: 60hv;
}

.img-two-one, .img-two-two {
  border-radius: 5px; margin: 2px 5px;
}
