.NavBar {
  height: var(--nav-size);
  background: var(--bg);
  font-size: 14px;
  border-bottom: var(--border);
  /* padding: 0px 1rem; */
  margin: 0px;
  width: 100%;

  color: var(--text-color-1);
}

.pad {
  height: 100px;
}

nav {
  position: fixed;
  z-index: 9;
}

.categoryGrid {
  color: var(--text-color-1);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 2;
  margin: 0;
  padding: 0;
}

.cGridItem {
  border: var(--border);
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.profileGrid {
  color: var(--text-color-1);
  display: grid;
  grid-template-columns: 50% 50%;
  height: 30px;
  width: 100%;

}

.pGridItem {
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBar-div .far-els {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.navItem {
display: flex;
justify-content: flex-start;
}

.far-els {
  justify-content: flex-end;
  transform: translateX(-20px);
}

.icon-button svg {
  position:fixed;
  z-index: 10;
  fill: var(--text-color-1);
  width: 32px;
  height: 32px;
  transform: translateX(10px);
}

i {
  font-size: 25px;
  /* color:red; */
}

i:hover {
  color: red;
}

.nav-div {
  margin: 3px 10px;
  /* transform: translateX() */
}

.dd {
    position: absolute;
    top: 48px;
    width: 153px;
    transform: translateX(-5%);
    color: white;
    background-color: var(--bg-secondary);
    border: var(--border);
    /* padding: 1rem; */
    overflow: scroll;
    z-index: 10;
    transition: height var(--speed) ease;
}

.dd > li {
  transition: filter var(--speed);
  color: var(--text-color-1);
}

.dd > li :hover {
  filter: brightness(2.0);
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform:translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  position: absolute;
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform:translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit {
  position: absolute;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}