.grid{
  display: grid;
  grid-template-rows: 15% 80% 5%;

}

.carousel{
  height: 512px;
  background-color: blue;
}

.categories{
  z-index: 100;
  margin-left: 4%;
  margin-right: 4%;
}

.inner-categories{
 z-index: 100;
 margin-left: 10%;
 margin-right: 10%;
 height: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}