.grid{
  display: grid;
  grid-template-rows: 15% 75% 10%;
  grid-template-areas: 
  'carousel' 
  'categories'
  'contests'
  'footer'
  ;
}

.carousel{
  grid-area: carousel;
}

.categories{
  z-index: 100;
  margin-left: 4%;
  margin-right: 4%;
  grid-area: categories;
}

.inner-categories{
 z-index: 100;
 margin-left: 10%;
 margin-right: 10%;
 height: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.contests{
  grid-area: contests;
}

.footer {
  grid-area: footer;
}