.grid{
  display: flex;
  flex-flow: column wrap;
  z-index: 10;
}

.title1{
  height: 90px;
  font-size: 70px;
  z-index: 20;
  display: flex;
  justify-content: center;
}
.description1{
  display: flex;
  justify-content: center;

}
.description{
  font-size: 20px;
  width: 600px;
  text-align: center;
}
.categories{
  z-index: 10;
  margin-left: 4%;
  margin-right: 4%;
  grid-area: categories;
}

.inner-categories{
 z-index: 20;
 /* margin-right: 10%;
 margin-left: 10%; */
 height: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.break1{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2%;
  z-index: 10;
}

.break2{
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
  z-index: 10;
}
.title-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cat-img {
  width: 330px;
  height: 150px;
  margin: 5px;
  position: relative;
}

.cat-title {
  color: white;
  position: absolute;
  top: 67%;
  margin-left: 15px;
  font-size: 10px;
  text-decoration-line: overline;
}